@import '../Variables/Variables.scss';

.items {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);

  .item {
    width: 250px;
    height: 95%;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    margin: 20px;
    border-radius: 10px;

    &:hover {
      background-color: rgb(224, 237, 240);
      cursor: pointer;
    }
  }

  .itemImage {
    margin-top: 20px;
  }

  button {
    @include buttonStyle(rgb(84, 105, 212), 15px, 100px)
  }
}
